<!DOCTYPE html>
<html lang="en">
<head>
    <title>
        {% block title %}
            {% if page.title %}
                {{ page.title }} | {{ site.title }}
            {% else %}
                {{ site.title }}
            {% endif %}
        {% endblock %}
    </title>
    <meta charset="utf-8">
    <meta name="theme-color" content="#ffffff">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block head_meta %}
        {% if page.description %}
            <meta name="description" content="{{ page.description }}">
        {% elseif site.meta.description %}
            <meta name="description" content="{{ site.meta.description }}">
        {% endif %}
        {% if page.author %}
            <meta name="author" content="{{ page.author }}">
        {% elseif site.author %}
            <meta name="author" content="{{ site.author }}">
        {% endif %}
    {% endblock %}
    <link rel="author" href="/contact/">
    <link href="/assets/css/style.css?v={{ "now"|date('U') }}" rel="stylesheet" type="text/css"/>

    {% include 'favicon.twig' %}

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/styles/solarized-dark.min.css" integrity="sha256-90Y+fvi28WF+3jKH4tHEkoQ9WLeFKJjpvCPNOtU9ZvU=" crossorigin="anonymous" />
    <link rel="alternate" type="application/atom+xml" href="/atom.xml"
          title="{{ site.title }} activity feed"/>
    {% block head_styles %}
    {% endblock %}
    {% block head_scripts %}
    {% endblock %}
</head>
<body itemscope itemtype="http://schema.org/Blog">
{% include 'google-tag-manager.twig' %}
{% include 'header.twig' %}
{% include 'navbar.twig' %}

<div class="middle-section">
    <div class="container content-wrapper">
        <section class="main main-column">

            {% block content_wrapper %}{% block content %}{% endblock %}{% endblock %}

        </section>
        {% include 'sidebar.twig' %}
    </div>
</div>
{% include 'footer.twig' %}


{% block scripts %}
{% endblock %}

<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/highlight.min.js" integrity="sha256-/BfiIkHlHoVihZdc6TFuj7MmJ0TWcWsMXkeDFwhi0zw=" crossorigin="anonymous"></script>
<script>hljs.initHighlightingOnLoad();</script>


{% block disqus %}
    {% include 'disqus.twig' %}
{% endblock %}

{% block scripts_after %}
{% endblock %}
</body>
</html>
