---
import site from '../data/config';
import { ClientRouter } from "astro:transitions";
import GoogleAnalytics from './GoogleAnalytics.astro';

interface Props {

    title?: string;
    full_title?: boolean;
    meta_description?: string;
    noindex?: boolean;
    canonical?: string;
    meta_tags?: {name?: string; property?: string; content: string}[];
}

const {title, full_title = false, meta_description, noindex = false, canonical, meta_tags = []} = Astro.props as Props;
import '../assets/css/styles.css';

---
<head>
    <meta charset="utf-8" />
    <title>{title || site.name}{(title && !full_title) && ` | ${site.name}`}</title>
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="view-transition" content="same-origin">
    <meta name="theme-color" content="#ffffff">
    <meta name="generator" content={Astro.generator} />
    <link rel="apple-touch-icon" type="image/png" href="/images/favicon/48x48.png" sizes="48x48"/>
    <link rel="apple-touch-icon" type="image/png" href="/images/favicon/64x64.png" sizes="64x64"/>
    <link rel="apple-touch-icon" type="image/png" href="/images/favicon/120x120.png" sizes="120x120"/>
    <link rel="apple-touch-icon" type="image/png" href="/images/favicon/152x152.png" sizes="152x152"/>
    <link rel="apple-touch-icon" type="image/png" href="/images/favicon/196x196.png" sizes="196x196"/>
    <link rel="apple-touch-icon" type="image/png" href="/images/favicon/256x256.png" sizes="256x256"/>
    <link rel="apple-touch-icon" type="image/png" href="/images/favicon/512x512.png" sizes="512x512"/>
    <link rel="shortcut icon" href="/favicon.ico">
    <link rel="sitemap" type="application/xml" href="/sitemap-index.xml">
    <link href={new URL("feed.xml", Astro.site)} rel="alternate" title={site.name} type="application/rss+xml">
    <link rel="canonical" href={canonical || Astro.url}>
    {meta_description && <meta name="description" content={meta_description}>}
    <link rel="manifest" href="/manifest.json" />
    <meta name="author" content={site.author || 'Jonathan Bernardi'}>
    {noindex ? <meta name="robots" content="noindex, follow"> : <meta name="robots" content="index, follow">}
    <meta property="og:locale" content="en_US">
    <meta property="og:site_name" content={site.name}>
    {meta_tags && meta_tags.map((tag) => (
        <meta name={tag.name} property={tag.property} content={tag.content} />
    ))}
    <slot name="head" />

    <script type="application/ld+json" set:html={JSON.stringify({"@context": "http://schema.org", "@type": "WebSite", "url": site.url, "name": site.name})} />
    <slot name="schema" />
    <ClientRouter />
    <script src="../assets/js/app.js"></script>
</head>
