<aside class="widget widget--about h-card">
    <h4 class="widget__title p-name">Jonathan Bernardi</h4>

    <div class="widget__body">
        <div class="widget--about__gravatar">
            <img class="u-photo" src="//www.gravatar.com/avatar/{{ site.gravatar.hash }}" alt="Jonathan Bernardi">
        </div>
        <div class="widget--about__social">
            {% if site.twitter_user %}
                <a target="_blank" href="https://twitter.com/{{site.twitter_user}}" title="Twitter"><i class="fa fa-twitter"></i></a>
            {% endif %}
            {% if site.facebook_url %}
                <a target="_blank" href="#{{site.facebook_url}}" title="Facebook"><i class="fa fa-facebook"></i></a>
            {% endif %}
            {% if site.googleplus_user %}
                <a target="_blank" href="https://plus.google.com/{{site.googleplus_user}}" title="Google+"><i class="fa fa-google-plus"></i></a>
            {% endif %}
            {% if site.youtube_channel %}
                <a target="_blank" href="https://www.youtube.com/channel/{{site.youtube_channel}}" title="YouTube"><i class="fa fa-youtube"></i></a>
            {% endif %}
            {% if site.linkedin_url %}
                <a target="_blank" href="http://www.linkedin.com/pub/{{site.linkedin_url}}" title="LinkedIn"><i class="fa fa-linkedin"></i></a>
            {% endif %}
            {% if site.github_user %}
                <a target="_blank" href="https://github.com/{{site.github_user}}" title="Github"><i class="fa fa-github"></i></a>
            {% endif %}
            {% if site.bitbucket_user %}
                <a target="_blank" href="https://bitbucket.org/{{site.bitbucket_user}}" title="Bitbucket"><i class="fa fa-bitbucket"></i></a>
            {% endif %}
        </div>
    </div>
</aside>
