<div itemprop="publisher" itemscope itemtype="http://schema.org/Organization">
    <meta itemprop="name" content="The Dev Files">
    <div itemprop="logo" itemscope itemtype="https://schema.org/ImageObject">
        <meta itemprop="url" content="{{ site.url }}/assets/images/favicon/48x48.png">
        <meta itemprop="width" content="48">
        <meta itemprop="height" content="48">
    </div>
    {% if site.twitter_user %}
        <meta itemprop="sameAs" content="https://twitter.com/{{site.twitter_user}}">
    {% endif %}
    {% if site.facebook_url %}
        <meta itemprop="sameAs" content="{{site.facebook_url}}">
    {% endif %}
    {% if site.googleplus_user %}
        <meta itemprop="sameAs" content="https://plus.google.com/{{site.googleplus_user}}">
    {% endif %}
    {% if site.youtube_channel %}
        <meta itemprop="sameAs" content="https://www.youtube.com/channel/{{site.youtube_channel}}">
    {% endif %}
    {% if site.linkedin_url %}
        <meta itemprop="sameAs" content="http://www.linkedin.com/pub/{{site.linkedin_url}}">
    {% endif %}
    {% if site.github_user %}
        <meta itemprop="sameAs" content="https://github.com/{{site.github_user}}">
    {% endif %}
     {% if site.bitbucket_user %}
        <meta itemprop="sameAs" content="https://bitbucket.org/{{site.bitbucket_user}}">
    {% endif %}
</div>
